node_modules
npm-debug.log
.git
.github
.vscode
.env
.env.*
!.env.production.sample
.gitignore
README.md
LICENSE
docker-compose.yml
client/build
client/dist
client/node_modules
.DS_Store
*.zip
*.tar.gz
*.log